.footer {
  background-color: var(--color-dark);
  color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (--baselayout) {
    @supports (grid-area: auto) {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 600px));
      align-items: center;
      justify-content: center;
      .footer-social {
        justify-self: end;
      }
    }
  }
  @media (--desktop) {
    padding: 1em 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  &-legal {
    font-size: 0.8em;
    font-weight: 300;
    @media (--ipadPro) {
      flex: inherit;
    }
  }
  &-social{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (--ipadPro) {
      flex: inherit;
    }
    a {
      color: var(--color-grey);
     font-size: 1.5em;
     margin: 0 0.25em;
     transition: all 0.5s ease-in-out;
       &:last-child {
         margin-right: 1px;
       }
       &:hover {
         color: var(--color-light);
       }
    }

  }
}
