.footer {
  background-color: var(--color-dark);
  color: #fff;
  margin-top: 52px;
  padding: 0.5em 0.5em 1.5em;
  @media (--ipad) {
    padding: 1em;
  }
  @media (--desktop) {
    padding: 0.5em 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  #goTop {
    font-size: 1.8em;
  }
  &-top {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    img {
      width: 36px;
      height: auto;
    }
  }
  &-legal {
    flex: 1 1 100%;
    text-align: center;
    font-size: 0.8em;
    font-weight: 300;
    @media (--ipadPro) {
      flex: inherit;
    }
  }
  &-social{
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    @media (--ipadPro) {
      flex: inherit;
    }
    a {
     font-size: 1.6em;
     margin: 0 0.5em;
     transition: all 0.5s ease-in-out;
     @media (--ipadPro) {
       margin: 0 0.25em;
     }
       &:last-child {
         margin-right: 1px;
       }
       &:hover {
         color: var(--color-light);
       }
       &.largeIcon {
         font-size: 1.5em;
       }
    }

  }
}
