* {
  box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #262228;
  padding-top: 76px;
  margin-top: -76px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.wrapperWide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5em;
}
.section {
  padding-top: 64px;
  &#next {
    padding-top: 26px;
  }
  &__title {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
  }
  &__text {
    font-size: 1.2em;
    line-height: 1.6;
  }
}
