* {
  box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #262228;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
