@supports (grid-area: auto) {
  /* Grid layout for devices gt 801px */
  @media (--baselayout) {
    .site {
      max-width: none;
      display: grid;
      grid-template-areas:
      "header" "navigation" "hero" "about" "portfolio" "quotes" "contact" "footer";
    }
    .header {
      grid-area: header;
    }
    .mainNav {
      opacity: 1;
      transition: all ease-in-out .5s;
      grid-area: navigation;
    }
    .mainNav.pinned {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 99;
    }
    .largeHero {
      grid-area: hero;
    }
    .about {
      grid-area: about;
    }
    .work {
      grid-area: portfolio;
    }
    .quotes {
      grid-area: quotes;
    }
    .contact {
      grid-area: contact;
    }
    .footer {
      grid-area: footer;
    }
  }
  /* Grid layout for devices lt 800px */
  @media (--mobilelayout) {
    .site {
      max-width: none;
      display: grid;
      grid-template-areas: "header" "hero" "about" "portfolio" "quotes" "contact" "footer";
    }
    .header {
      grid-area: header;
    }
    .largeHero {
      grid-area: hero;
    }
    .about {
      grid-area: about;
    }
    .work {
      grid-area: portfolio;
    }
    .quotes {
      grid-area: quotes;
    }
    .contact {
      grid-area: contact;
    }
    .footer {
      grid-area: footer;
    }
    .mainNav {
      position: relative;
      width: 12em;
      grid-column: 1;
      grid-row: 1 / span 6;
      z-index: 10;
      left: -12em;
      transition: left ease-in-out .6s;
      &-menu {
        position: fixed;
        display: none;
        flex-direction: column;
      }
      .trigger {
        position: fixed;
        display: block;
        top: 1.5em;
        left: -1em;
        z-index: 100;
        transition: left ease-in-out .5s;
      }
    }
    .reveal .mainNav {
      left: 0;
    }
    .mainNav.open,
    .mainNav.pinned.open {
      padding: 1em 0;
    }
    .open .mainNav-menu {
      display: flex;
      width: 12em;
    }
    .open .mainNav-menuItem {
      padding: 0;
      &.active a {
        border-bottom: 1px solid var(--color-light);
        background-color: var(--color-light);
        color: var(--color-dark);
        &:hover {
          color: var(--color-dark);
          background-color: var(--color-light);
        }
      }
      a {
        padding: .5em .8em;
        border-bottom: 1px solid var(--color-grey);
        &:hover {
          color: var(--color-dark);
          background-color: var(--color-grey);
        }
      }
    }
    .reveal .trigger {
      left: 11em;
    }
  }
}
