@supports (grid-area: auto) {
  /* Grid layout for devices gt 801px */
  @media (--baselayout) {
    .site {
      max-width: none;
      display: grid;
      grid-template-areas: "header" "navigation" "hero" "about" "portfolio" "footer";
    }
    .header {
      grid-area: header;
    }
    .mainNav {
      width: 100%;
      grid-area: navigation;
    }
    .mainNav.pinned {
      position: fixed;
      top: 0;
      z-index: 99;
    }
    .largeHero {
      grid-area: hero;
    }
    .about {
      grid-area: about;
    }
    .work {
      grid-area: portfolio;
    }
    .footer {
      grid-area: footer;
    }
  }
  /* Grid layout for devices lt 800px */
  @media (--mobilelayout) {
    .site {
      max-width: none;
      display: grid;
      grid-template-areas: "header" "hero" "about" "portfolio" "footer";
    }
    .header {
      grid-area: header;
    }
    .largeHero {
      grid-area: hero;
    }
    .about {
      grid-area: about;
    }
    .work {
      grid-area: portfolio;
    }
    .footer {
      grid-area: footer;
    }
    .mainNav {
      position: relative;
      width: 12em;
      grid-column: 1;
      grid-row: 1/6;
      z-index: 10;
      left: -11.4em;
      transition: left ease-in-out .6s;
      &-menu {
        position: fixed;
        display: none;
        flex-direction: column;
      }
      .trigger {
        position: fixed;
        display: block;
        top: 1.5em;
        left: -0.4em;
        transition: left ease-in-out .6s;
      }
    }
    .reveal .mainNav {
      left: 0;
    }
    .open .mainNav-menu {
      display: flex;
    }
    .reveal .trigger {
      left: 11em;
    }
  }
}
