.header {
  position: fixed;
  width: 100%;
  background-color: #262228;
  &__logo {
    h1 {
      margin: 8px 0;
    }
    a {
      background: url(../img/logo-white.svg) no-repeat;
      width: 36px;
      height: 36px;
      background-size: cover;
      text-indent: -9999px;
      display: block;
    }
  }
  &__nav {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      margin-left: 0.5em;
      &:first-child {
        margin-left: 0;
      }
      &.active a {
        color: #f7b733;
        border-bottom: 3px solid #f7b733;
      }
    }
    a {
      font-size: 1.4em;
      text-decoration: none;
      letter-spacing: 1px;
      padding: 0.2em 0.4em 0.1em;
      color: #c6c6c6;
      border-bottom: 2px solid transparent;
      transition: color 0.5s ease-in-out;
      &:hover {
        color: #fff;
      }
      span {
        display: none;
      }
    }
  }
}
