.large-hero {
  padding-top: 76px;
  &__container {
    background: url(../img/hero_bg.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 76px);
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 1em;
  }
  &__title {
    margin: 0;
    color: #f7b733;
    font-size: 2em;
    font-weight: 500;
  }
  &__subtitle {
    font-family: 'Quattrocento', serif;
    margin: 0.5em 0;
    font-size: 2em;
    line-height: 1.2;
    font-weight: 400;
  }
  &__arrow {
    color: #fff;
    font-size: 1.8em;
    text-align: center;
    display: block;
  }
}
