//Generic Media Queries
@media screen and (min-width: 375px) {
  .large-hero__container {
    padding: 0 2em;
  }
}
@media screen and (min-width: 600px) {
  .header__logo h1 {
    margin: 12px 0;
  }
  .large-hero__avatar img {
    width: 280px;
    height: 280px;
  }
  .large-hero__title {
    font-size: 2.6em;
  }
  .large-hero__subtitle {
    font-size: 2.4em;
  }
  .section, .large-hero {
    padding-top: 60px;
  }
  .large-hero__container {
    height: calc(100vh - 60px);
  }
  .portfolio {
    height: 1200px;
  }
}
@media screen and (min-width: 720px) {
  .header__nav a {
    font-size: 1.6em;
  }
  .footer__social {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 1em;
  }
  .portfolio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 600px;
  }
  .portfolio .item1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .portfolio .item2 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .portfolio .item3 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .portfolio .item4 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .footer {
    padding: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .large-hero__container {
    padding: 0 3em;
    height: calc(94vh - 60px);
  }
  .large-hero__avatar img {
    width: 220px;
    height: 220px;
  }
  .large-hero__title {
    font-size: 2.4em;
  }
  .large-hero__subtitle {
    font-size: 2em;
  }
  .footer__legal, .footer__social {
    flex: inherit;
  }
  .footer__social a {
    margin: 0 0.25em;
  }
}
@media screen and (min-width: 1080px) {
  .portfolio {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .portfolio .item1 {
    grid-column: span 3;
    grid-row: span 2;
  }
  .portfolio .item2 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .portfolio .item3 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .portfolio .item4 {
    grid-column: span 3;
    grid-row: span 2;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 0;
  }
  .footer {
    padding: 0.5em 0;
  }
}

//Devices Media QUeries
/* iPhone 4 */
@media screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .large-hero__avatar img {
    width: 100px;
    height: 100px;
  }
}
