.mainNav {
	padding: 1em;
	color: var(--color-grey);
  background-color: var(--color-dark);
  &-logo {
		display: none;
		text-decoration: none;
		img {
			max-width: 36px;
			height: 36px;
		}
  }
  &-menu {
  	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  	margin: 0;
  	padding: 0;
  }
  &-menuItem {
    padding: 0 0.5em;
    &.active a {
      color: var(--color-light);
      border-bottom: 1px solid var(--color-light);
      &:hover {
        color: var(--color-light);
      }
    }
    a {
      display: flex;
      align-items: baseline;
      font-size: 1em;
      text-decoration: none;
      letter-spacing: 1px;
      padding: 4px 0.25em;
      color: var(--color-grey);
      border-bottom: 1px solid transparent;
      &:hover {
        color: #fff;
      }
    }
  }
}
.mainNav.pinned {
	padding: 0.6em 1em;
	opacity: .96;
}
.pinned .mainNav-logo {
	display: flex;
	position: absolute;
	top: calc(50% - 18px)
}

.trigger {
	display: none;
	padding: .2em .5em;
	color: white;
	background: hsl(0, 0%, 10%);
	border: none;
	transform: rotate(90deg);
  &:focus,
  &:hover {
  	outline: 2px dotted hsl(0, 0%, 10%);
  }
  &:focus {
  	outline-color: white;
  }
}
