.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1em;
  height: 1000px;
  @media (--ipad) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 600px;
  }
  @media (--phoneL) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    color: #fff;
    position: relative;
    z-index: 10;
    &::before {
      content: '';
      display: block;
      background-color: color(var(--color-base) alpha(-80%));
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: all ease-in-out 0.5s;
    }
    &:hover::before {
      background-color: color(var(--color-base) alpha(-20%));
    }
    &:hover .portfolio-description {
      transform: scale(1);
      opacity: 1;
    }
    &:hover .portfolio-title {
      transform: translateY(0.5em);
    }
  }
  &-title {
    font-size: 1.6em;
    font-weight: 500;
    margin: 0.5em 0;
    text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.36);
    transform: translateY(0.75em);
    transition: all ease-in-out 0.5s;
  }
  &-description {
    margin: 0.5em 0;
    text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.36);
    opacity: 0.1;
    transform: scale(0.1);
    transition: all ease-in-out 0.5s;
  }
  &-link {
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.36);
    &:hover {
      color: var(--color-light);
    }
  }
  .item1 {
    grid-column: span 2;
    grid-row: span 2;
    background: url(../img/project_tiendalatam.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @media (--ipad) {
      grid-column: span 2;
      grid-row: span 2;
    }
    @media (--phoneL) {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
  .item2 {
    grid-column: span 2;
    grid-row: span 2;
    background: url(../img/project_imcg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @media (--ipad) {
      grid-column: span 2;
      grid-row: span 2;
    }
    @media (--phoneL) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  .item3 {
    grid-column: span 2;
    grid-row: span 2;
    background: url(../img/project_valvoline.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @media (--ipad) {
      grid-column: span 2;
      grid-row: span 2;
    }
    @media (--phoneL) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  .item4 {
    grid-column: span 2;
    grid-row: span 2;
    background: url(../img/project_sidesys.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @media (--ipad) {
      grid-column: span 2;
      grid-row: span 2;
    }
    @media (--phoneL) {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
}
