.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "project1"
    "project2"
    "project3"
    "project4"
    "project5";
  grid-gap: 1em;
  height: 1000px;
  @media (--phoneM) {
    height: 1000px;
  }
  @media (--ipad) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "project1 project2"
      "project3 project4"
      "project5 project5";
    height: 900px;
  }
  @media (--ipadPro) {
    grid-template-columns: repeat(5, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-template-areas:
      "project1 project1 project1 project2 project2"
      "project3 project3 project4 project4 project4" 
      "project5 project5 project5 project5 project5" !important;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    color: #fff;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    z-index: 2;
    &::before {
      content: '';
      display: block;
      border-radius: 2px;
      background-color: color(var(--color-base) alpha(-80%));
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: all ease-in-out 0.5s;
    }
    &:hover::before {
      background-color: color(var(--color-base) alpha(-30%));
    }
    &:hover .portfolio-description {
      transform: scale(1);
      opacity: 1;
    }
    &:hover .portfolio-title {
      transform: translateY(0.5em);
    }
  }
  &-title {
    font-size: 1.6em;
    font-weight: 500;
    margin: 0.5em 0;
    text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.36);
    transform: translateY(0.75em);
    transition: all ease-in-out 0.5s;
  }
  &-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;
    text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.36);
    opacity: 0.1;
    transform: scale(0.1);
    transition: all ease-in-out 0.5s;
    .pleft {
      padding-left: 3px;
    }
  }
  &-link {
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.36);
    &:hover {
      color: var(--color-light);
    }
  }
  .item1 {
    grid-area: project1;
    background: url(../img/project_tiendalatam.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .item2 {
    grid-area: project2;
    background: url(../img/project_valvoline.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .item3 {
    grid-area: project3;
    background: url(../img/project_gianvera.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .item4 {
    grid-area: project4;
    background: url(../img/project_imcg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .item5 {
    grid-area: project5;
    background: url(../img/project_sidesys.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}
