.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1em;
  height: 800px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    color: #fff;
  }
  &__title {
    font-size: 1.6em;
  }
  &__description {
    margin: 0;
  }
  &__link {
    color: #fff;
    font-size: 2em;
  }
  .item1 {
    grid-column: span 2;
    grid-row: span 2;
    background: url(../img/project_tiendalatam.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .item2 {
    grid-column: span 2;
    grid-row: span 2;
    background: url(../img/project_imcg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .item3 {
    grid-column: span 2;
    grid-row: span 2;
    background: url(../img/project_valvoline.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .item4 {
    grid-column: span 2;
    grid-row: span 2;
    background: url(../img/project_sidesys.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}
