.section {
  padding: 0 1.5em;
  padding-top: 52px;
  @media (--baselayout) {
    @supports (grid-area: auto) {
      display: grid;
      grid-template-columns: minmax(auto, 960px);
      justify-content: center;
    }
  }
  &#work {
    padding-bottom: 52px;
  }
  &-title {
    text-align: center;
    font-size: responsive 22px 32px;
    font-range: 320px 1024px;
    font-weight: 500;
    margin: 0.5em 0;
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark);
    width: 100%;
    margin: 0 auto;
    font-size: 2.2em;
    position: relative;
    &::before {
      content: '';
      display: block;
      background-color: var(--color-dark);
      position: absolute;
      top: 50%;
      right: calc(50% + 60px);
      height: 2px;
      width: 25%;
    }
    &::after {
      content: '';
      display: block;
      background-color: var(--color-dark);
      position: absolute;
      top: 50%;
      left: calc(50% + 60px);
      height: 2px;
      width: 25%;
    }
    .fa {
      border: 2px solid var(--color-dark);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-paragraph {
    font-size: responsive 16px 18px;
    font-range: 320px 1024px;
    line-height: 1.6;
  }
}
